<%- include("partials/header") %>
<h1>
	Welcome to another level of madness!!
</h1>
<% data.forEach(function(x){%>
<li>
	<%=x.title%> -  <strong><%= x.author%></strong>
</li>
<%});%>
<%- include("partials/footer") %>